.NavbarMenu ul {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
}  

.NavbarMenu li {
    margin-right: 4px;
}

.NavbarMenu ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: 2rem 1.5rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: 0.3s all linear;
}

nav ul li a:hover, 
.active {
    border-bottom-color: #fff;
}

.Navbar ul.d-none {
    display: none;
}

/* @media Styles */

/* small screens */
@media only screen and (max-width: 768px) {
    nav ul li a {
        padding: 2rem 0.5rem;
        letter-spacing: 1px;
    }

    .Navbar.scrolled a {
        padding: 2rem .5rem;
        letter-spacing: 1px;
    }
}

/* extra small screens */
@media only screen and (max-width: 600px) {
    nav ul li a {
        padding: 2rem 1.5rem;
        letter-spacing: 2px;
    }
    
    .NavbarMenu {
        position: absolute;
        top:55px;
        left: 0;
        width: 0;
        height: 100vh;
        border-top: 3px solid var(--white);
        background-color: var(--blue);
        z-index: 999;
        overflow: hidden;
        transition: all 0.3s;
      }

    .show-menu {
        width: 100%;
    }

      .NavbarMenu ul {
        flex-direction: column;
        padding: 0;
        border-bottom: 0px solid #fff;
      }

      .NavbarMenu li {
        margin-right: 0;
    }
  
      .NavbarMenu ul li a {
        display: block;
      }

      .Navbar a:hover, .active {
        background-color: #fff;
        color: #000;
      }
}